.header {
    background-color: #7BD2FF;
    font-size: 40px;
    color: white;
    display: flex;
}

.header__title {
    margin: 10px;
}

.content {
    display: flex;
}

.menu {
    border-right: 1px solid black;
    height: 96vh;
}

.menu__icon {
    padding: 10px;
    width: 40px;
    height: 40px;
}

.menu__icon img {
    width: 40px;
    height: 40px;
}

.card {
    margin: 20px;
    border: 1px solid black;
}

.card__title {
    margin: 15px;
    font-size: 50px;
}

.card__text {
    margin: 15px;
    font-size: 20px;
}

.card__button {
    font-size: 20px;
}

.card__button {
    margin: 10px;
}