<sf-common-header>
    <sf-common-button class="toggle-button" (click)="toggle()">
        <sf-common-icon class="toggle-button__icon" type="menu"></sf-common-icon>
    </sf-common-button>
    <div class="logo">
        SCIENCE FESTIVAL
    </div>
    <div class="about">
        <sf-common-button>about</sf-common-button>
    </div>
    <div class="space"></div>
    <div class="right-contols">
        <sf-common-dropdown class="right-contols__localization" [dropdownOptions]="localization" (selectedValueChange)="localizationChange($event)"></sf-common-dropdown>
        <div class="right-contols__enter-group">
            <div class="login">
                <sf-common-button routerLink="/en/admin/login" routerLinkActive="active"> LOGIN</sf-common-button>
            </div>
            <div class="register">
                <sf-common-button routerLink="/en/admin/register" routerLinkActive="active">REGISTER</sf-common-button>
            </div>
        </div>
    </div>
</sf-common-header>