.logo {
    flex: 1 1 auto;
}

.toggle-button {
    margin-left: -16px;
    &__icon {
        width: 100%;
    }
}

.right-contols {
    display: flex;
    align-items: center;
    &__enter-group {
        display: flex;
    }
}