<div class="row">
  <div class="col-md-2">
    <button *ngIf="showSidebar$ | async" type="button" class="btn btn-default" (click)="closeSidebar()">Hide sidebar</button>
    <button *ngIf="!(showSidebar$ | async)" type="button" class="btn btn-default" (click)="openSidebar()">Show sidebar</button>
    <ul *ngIf="showSidebar$ | async" class="nav nav-pills nav-stacked">
      <li role="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['/auth']">auth</a>
      </li>
      <li role="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['/auth/register']">Register</a>
      </li>
      <li role="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['/two', 1]">Two</a>
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>