<div class="master-page">
    <sf-header class="master-page__header" [isOpen]="navigationShow$ | async" (onTogledButton)="toggleSidenav($event)" (onLocalizationChange)="getLocalization($event)"
        [currentLocalization]="currentLocalization$ | async" [localizationList]="localizationList$ | async"></sf-header>

    <md-sidenav-container class="master-page__sidenav">
        <md-sidenav mode="side" class="navigation-panel" [opened]="navigationShow$ | async">
            <sf-navigation-panel [isToggled]="navigationCollapse$ | async" (onSidenavToggled)="sidenavToggled($event)"></sf-navigation-panel>
        </md-sidenav>
        <div class="master-page__content">
            <router-outlet></router-outlet>
        </div>
    </md-sidenav-container>
</div>