<sf-common-card class="news-item">
  <card-title class="news-item__title">
    <div class="title">
      <div class="title__text">{{news.header}}</div>
      <div class="title__buttons">
        <div class="title-buttons">
          <sf-common-button class="title-buttons__edit" (click)="onEdit(news)">
            <sf-common-icon class="icon__edit" type="edit"></sf-common-icon>
          </sf-common-button>
          <sf-common-button class="title-buttons__close" (click)="onDelete(news)">
            <sf-common-icon class="icon__close" type="close"></sf-common-icon>
          </sf-common-button>
        </div>
      </div>
    </div>
  </card-title>
  <card-content class="news-item__content">
    {{news.content}}
  </card-content>
  <card-action class="news-item__action">
    <div class="action">
      <sf-common-button class="action__read-more" (click)="onSelect(news)"><span>Read more</span></sf-common-button>
      <sf-common-button class="action__share"><span>Share</span></sf-common-button>
    </div>
  </card-action>
</sf-common-card>
