<div class="home"> Hello HomeComponent! </div>
<ul class="link-list">
    <li class="link-list_item" role="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['login']">login</a>
    </li>
    <li class="link-list_item" role="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['register']">register</a>
    </li>
    <li class="link-list_item" role="presentation" [routerLinkActive]="['active']">
        <a [routerLink]="['logout']">logout</a>
    </li>
</ul>