.form {
    margin: 16px;
    &__body {
        &__group {
            display: flex;
            flex-direction: column;
            &__block {}
        }
    }
    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &__item {}
    }
}

form-actions {
    width: 100%;
}