<div class="form">
    <sf-common-form>
        <form-header>
            Register
        </form-header>
        <form-body>
            <form class="form__body" [formGroup]="registerForm">
                <div class="form__body__group">
                    <label class="form__body__group__block"> user name:
                        <md-input-container>
                            <input mdInput placeholder="user name" value="" formControlName="name">
                        </md-input-container>
                    </label>
                    <label class="form__body__group__block"> password:
                        <md-input-container>
                            <input mdInput type="password" placeholder="password" value="" formControlName="password" >
                        </md-input-container>
                    </label>
                    <label class="form__body__group__block"> email:
                        <md-input-container>
                            <input mdInput type="text" placeholder="email" value="" formControlName="email" >
                        </md-input-container>
                    </label>
                    <label class="form__body__group__block"> position:
                        <sf-common-dropdown [dropdownOptions]="positions" (selectedValueChange)="getPosition($event)"></sf-common-dropdown>
                        <!-- <md-input-container>
                            <input mdInput type="text" placeholder="position" value="" formControlName="position" >
                        </md-input-container> -->
                    </label>
                </div>
            </form>
        </form-body>
        <form-actions>
            <div class="form__actions">
                <div class="form__actions__item">
                    <sf-common-button (click)="onSubmit()">
                        submit
                    </sf-common-button>
                </div>
                <div class="form__actions__item">
                    <sf-common-button (click)="onReset()">
                        reset
                    </sf-common-button>
                </div>
            </div>
        </form-actions>
    </sf-common-form>
</div>