<sf-common-form>
    <form-header>
        Register
    </form-header>
    <form-body>
        <form class="form">
            <div class="form__group">
                <label class="group__block"> email:
                    <sf-common-input #email [placeholder]="'email'"></sf-common-input>
                </label>
                <label class="group__block"> password:
                    <sf-common-input #password [placeholder]="'password'" [isSecure]="true"></sf-common-input>
                </label>
                <label class="group__block"> phone:
                    <sf-common-inputNumb #phone [placeholder]="'phone'"></sf-common-inputNumb>
                    </label>
                <label class="group__block"> position:
                        <sf-common-dropdown #position [dropdownOptions]="positions" (selectedValueChange)="getPosition($event)"></sf-common-dropdown>
                    </label>
            </div>
        </form>
    </form-body>
    <form-actions>
        <div class="actions">
            <div class="actions__item">
                <sf-common-button (click)="submit()">
                    submit
                </sf-common-button>
            </div>
            <div class="actions__item">
                <sf-common-button (click)="reset()">
                    reset
                </sf-common-button>
            </div>
        </div>
    </form-actions>
</sf-common-form>