<div class="menu">
    <div class="menu__item">
        <sf-common-button routerLink="/feed" routerLinkActive="active">
            <sf-common-icon [ngClass]="{'icon--collapsed':isCollapsed, 'icon--extend':!isCollpsed }" type="library_books"></sf-common-icon>
            <div class="text" *ngIf="!isCollapsed">
                events and news
            </div>
        </sf-common-button>
    </div>
    <div class="menu__item">
        <sf-common-button routerLink="/feed/news" routerLinkActive="active">
            <sf-common-icon [ngClass]="{'icon--collapsed':isCollapsed, 'icon--extend':!isCollpsed }" type="content_copy"></sf-common-icon>
            <div class="text" *ngIf="!isCollapsed">
                news
            </div>
        </sf-common-button>
    </div>
    <div class="menu__item">
        <sf-common-button routerLink="/feed/events" routerLinkActive="active">
            <sf-common-icon [ngClass]="{'icon--collapsed':isCollapsed, 'icon--extend':!isCollpsed }" type="book"></sf-common-icon>
            <div class="text" *ngIf="!isCollapsed">
                events
            </div>
        </sf-common-button>
    </div>
    <div class="menu__item">
        <sf-common-button routerLink="/calendar" routerLinkActive="active">
            <sf-common-icon [ngClass]="{'icon--collapsed':isCollapsed, 'icon--extend':!isCollpsed }" type="date_range"></sf-common-icon>
            <div class="text" *ngIf="!isCollapsed">
                calendar
            </div>
        </sf-common-button>
    </div>
    <div class="menu__item">
        <sf-common-button routerLink="/personal" routerLinkActive="active">
            <sf-common-icon [ngClass]="{'icon--collapsed':isCollapsed, 'icon--extend':!isCollpsed }" type="settings"></sf-common-icon>
            <div class="text" *ngIf="!isCollapsed">
                personal settings
            </div>
        </sf-common-button>
    </div>
    <div class="menu__item">
        <sf-common-button routerLink="/feed/works" routerLinkActive="active">
            <sf-common-icon [ngClass]="{'icon--collapsed':isCollapsed, 'icon--extend':!isCollpsed }" type="content_paste"></sf-common-icon>
            <div class="text" *ngIf="!isCollapsed">
                works
            </div>
        </sf-common-button>
    </div>
    <div class="menu__item">
        <sf-common-button routerLink="/approve" routerLinkActive="active">
            <sf-common-icon [ngClass]="{'icon--collapsed':isCollapsed, 'icon--extend':!isCollpsed }" type="dashboard"></sf-common-icon>
            <div class="text" *ngIf="!isCollapsed">
                approve
            </div>
        </sf-common-button>
    </div>
    <div class="menu__item">
        <sf-common-button routerLink="/statistic" routerLinkActive="active">
            <sf-common-icon [ngClass]="{'icon--collapsed':isCollapsed, 'icon--extend':!isCollpsed }" type="show_chart"></sf-common-icon>
            <div class="text" *ngIf="!isCollapsed">
                statistic
            </div>
        </sf-common-button>
    </div>
    <div class="menu__item">
        <sf-common-button routerLink="/about" routerLinkActive="active">
            <sf-common-icon [ngClass]="{'icon--collapsed':isCollapsed, 'icon--extend':!isCollpsed }" type="help"></sf-common-icon>
            <div class="text" *ngIf="!isCollapsed">
                about
            </div>
        </sf-common-button>
    </div>
    <div class="menu__item--space"></div>
    <div class="menu__item--end">
        <sf-common-button (click)="collapse()">
            <sf-common-icon [ngClass]="{'icon--collapsed':isCollapsed, 'icon--extend':!isCollpsed }" type={{iconArrowsType}}></sf-common-icon>
            <div class="text" *ngIf="!isCollapsed">
                collapse
            </div>
        </sf-common-button>
    </div>
</div>