<sf-common-header>
    <span>Science Festival</span>
</sf-common-header>
<sf-common-input></sf-common-input>
<sf-common-spinner></sf-common-spinner>
<sf-common-card>
    <card-title>Header 1</card-title>
    <card-subtitle>HUBSES</card-subtitle>
    <card-content>
        <sf-common-spinner [isShow]="true"></sf-common-spinner>
    </card-content>
    <card-action>
        <button>Go!</button>
    </card-action>
</sf-common-card>
<sf-common-form>
    <form-header>
        <div class="temp">12456</div>
    </form-header>
    <form-body>
        <div class="temp">12456789</div>
    </form-body>
    <form-actions>
        <div class="temp">124567890</div>
    </form-actions>
</sf-common-form>

<sf-common-dropdown [dropdownOptions]="dropdownOptions"></sf-common-dropdown>


<button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>more_vert</md-icon>
        </button>

<md-menu #menu="mdMenu">
    <button md-menu-item>
                <sf-common-icon [name]="'dialpad'"></sf-common-icon>
                <span>Redial</span>
            </button>
    <button md-menu-item disabled>
                 <sf-common-icon [name]="'voicemail'"></sf-common-icon>
                <span>Check voicemail</span>
            </button>
    <button md-menu-item>
                 <sf-common-icon [name]="'notifications_off'"></sf-common-icon>
                <span>Disable alerts</span>
            </button>
</md-menu>


<sf-common-map [coordinates]="coordinates"></sf-common-map>
<sf-common-accordion>
    <accordion-header>
        1234653
    </accordion-header>
    <accordion-content>
        1565461
    </accordion-content>
</sf-common-accordion>

<sf-common-calendar [events]="events"></sf-common-calendar>
